###
### Scrape.Exchange settings
###

EXCHANGE_URL=https://scrape.exchange
SCHEMA_VERSION=0.0.1
SCHEMA_OWNER=boinko

USERNAME=<your Scrape.Exchange username>
API_KEY_ID=<your API key ID>
API_KEY_SECRET=<your API key secret>

###
### File location settings shared by all scrapers
###

# When running the scrapers directly from the command line,
# define these 
# YOUTUBE_CHANNEL_LIST=./channels.lst
# YOUTUBE_CHANNEL_DATA_DIR=./channels
# YOUTUBE_VIDEO_DATA_DIR=./videos
# YOUTUBE_CHANNEL_MAP_FILE=./channel_map.csv

# If set, scrapers will use REDIS as backend to coordinate rate limiting,
# managing the mapping from channel IDs to channel handles and tracking
# for which channels the RSS fetch received a 404.
# With using Redis as backend, scrapers can run on multiple hosts without 
# exceeding rate limits. If not set, scrapers will use the local file system
# for these functions and you can not run scrapers on multiple hosts without
# exceeding the implemented rate limits.
# REDIS_DSN=redis://localhost:6379/0

###
### Channel scraper
###

CHANNEL_NUM_PROCESSES=1     # You can increase this when you are familiar with the scraper
CHANNEL_CONCURRENCY=1       # You can increase this when you are familiar with the scraper

CHANNEL_LOG_LEVEL=DEBUG
CHANNEL_LOG_FILE=./logs/yt_channel.log
CHAANNEL_METRICS_PORT=9600  # Actual port usage is from 9600 to 9600 + <num_processes>

MAX_NEW_CHANNELS=5000
MAX_RESOLVED_CHANNELS=250

CHANNEL_UPLOAD_ONLY=false
CHANNEL_NO_UPLOAD=false

###
### RSS scraper
###

RSS_NUM_PROCESSES=1         # You can increase this when you are familiar with the scraper
RSS_CONCURRENCY=1           # You can increase this when you are familiar with the scraper

RSS_LOG_LEVEL=DEBUG
RSS_LOG_FILE=./logs/yt_rss.log
RSS_METRICS_PORT=9500  # Actual port usage is from 9500 to 9500 + <num_processes>

# How many times do we need to see an HTTP 404 for the RSS feed of a channels
# before we consider the channel to be unavailable for updates
RSS_MAX_NO_FEED_FAILURES=8

# Prioritize RSS scraping for target hours:subscriber_count, etc
# Queues are separated with the ','. For each queue, the value
# before the ':' is the target amount of hours to fetch the RSS
# for a channel in the queue and the second number is the minimum
# number of subscribers the channel should have to get in the queue
PRIORITY_QUEUES=1:10000000,4:1000000,12:100000,24:10000,48:0

# These files are not used if a REDIS_DSN is defined
RSS_QUEUE_FILE=./yt-rss-reader-queue.json
NO_FEEDS_FILE=./yt-rss-reader-no-feeds.txt

MIN_CHANNEL_INTERVAL_SECONDS=300
RETRY_INTERVAL_SECONDS=120

###
### Video scraper
###

VIDEO_NUM_PROCESSES=1       # You can increase this when you are familiar with the scraper
VIDEO_CONCURRENCY=1         # You can increase this when you are familiar with the scraper

VIDEO_LOG_LEVEL=DEBUG
VIDEO_LOG_FILE=../logs/yt_video.log
VIDEO_METRICS_PORT=9400  # Actual port usage is from 9400 to 9400 + <num_processes>

WITH_INNERTUBE=true
YTDLP_CACHE_DIR=/var/tmp/yt_dlp

# Only set these when not running in a container
# DENO_PATH=~/.deno/bin/deno
#PO_TOKEN_URL=http://localhost:4416

# If set to True, makes the script only upload already scraped videos.
VIDEO_UPLOAD_ONLY=false
# If set to true, makes the scraper only scrape videos
# without uploading them to the Scrape Exchange
VIDEO_NO_UPLOAD=false

# Proxies are optional
PROXIES=
# PROXIES=http://<username>:<password>@<proxy-1 FQDN or IP>:<proxy-1 port>,http://<username>:<password>@<proxy-2 FQDN or IP>:<proxy-2 port>
