###
### Scrape.Exchange settings
###

EXCHANGE_URL=https://scrape.exchange
SCHEMA_VERSION=0.0.1
SCHEMA_OWNER=boinko
USERNAME=drand
API_KEY_ID=<your API key ID>
API_KEY_SECRET=<your API key secret>

###
### File location settings shared by all scrapers
###

YOUTUBE_VIDEO_DATA_DIR=<your data directory>/scraped-videos
YOUTUBE_CHANNEL_DATA_DIR=<your data directory>/scraped-channels
YOUTUBE_CHANNEL_LIST=<your data directory>/channels.lst
YOUTUBE_VIDEO_DATA_DIR=<your data directory>/scraped-videos
YOUTUBE_CHANNEL_MAP_FILE=<your data directory>/channel_map.csv

###
### Channel scraper
###

CHANNEL_NUM_PROCESSES=1     # You can increase this when you are familiar with the scraper
CHANNEL_CONCURRENCY=1       # You can increase this when you are familiar with the scraper
CHANNEL_LOG_LEVEL=DEBUG
CHANNEL_LOG_FILE=<your log directory>/yt_channel.log

MAX_NEW_CHANNELS=5000
MAX_RESOLVED_CHANNELS=250

###
### RSS scraper
###

RSS_NUM_PROCESSES=1         # You can increase this when you are familiar with the scraper
RSS_CONCURRENCY=1           # You can increase this when you are familiar with the scraper

RSS_LOG_LEVEL=DEBUG
RSS_LOG_FILE=<your log directory>/yt_rss.log

RSS_QUEUE_FILE=<your data directory>/yt-rss-reader-queue.json
NO_FEEDS_FILE=<your data directory>/yt-rss-reader-no-feeds.txt
MIN_CHANNEL_INTERVAL_SECONDS=300
RETRY_INTERVAL_SECONDS=120

###
### Video scraper
###

VIDEO_NUM_PROCESSES=1       # You can increase this when you are familiar with the scraper
VIDEO_CONCURRENCY=1         # You can increase this when you are familiar with the scraper

VIDEO_LOG_LEVEL=DEBUG
VIDEO_LOG_FILE=../scraper-logs/yt_video.log

WITH_INNERTUBE=true
DENO_PATH=<path to your deno binary>
PO_TOKEN_URL=http://localhost:4416
YTDLP_CACHE_DIR=/var/tmp/yt_dlp


PROXIES=http://<username>:<password>@<proxy-1 FQDN or IP>:<proxy-1 port>,http://<username>:<password>@<proxy-2 FQDN or IP>:<proxy-2 port>